{% extends 'base.html' %}


{% block title %}Change Password{% endblock %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:user_profile_view" user.pk %}">Back</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "accounts:update_user" %}">Edit profile</a>
    </li>
{% endblock nav %}


{% block content %}

    <h1>Change Password</h1>

    <form method="POST">
        {% include 'partial/form.html' %}
    </form>

{% endblock %}