{% extends 'base.html' %}

{% block content %}


    <div class="row pt-2">

        <div type="button" class="p-2"><a href="{% url "task_list_view" %}" class="btn btn-primary">To all Tasks</a>
        </div>
        {% if not user.is_authenticated %}

            <div type="button" class="p-2"><a href="" class="btn btn-primary">Please login if you want to create a
                project!</a></div>
        {% else %}
            {% if perms.tracker.add_project %}
                <div type="button" class="p-2"><a href="{% url "project_create_view" %}" class="btn btn-primary">Create
                    Project</a></div>
            {% endif %}


             {% if perms.accounts.can_see_user_list %}
                <div type="button" class="p-2"><a href="{% url "accounts:user_list_view" %}" class="btn btn-primary">User List</a></div>
            {% endif %}

        {% endif %}



        {% for project in projects %}
            {% include "partial/user_project_list.html" %}
        {% endfor %}
    </div>

{% endblock %}