{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="">
              <form action="{% url "project_delete_view" project.pk %}" method="POST">
                {% csrf_token %}
                    <h2>Do you really want to delete the {{ project }}</h2>
                    <input type="submit" class="btn btn-primary btn-sm col-1" value="Да">
                </form>
            </div>


            <div class="pt-2">
                <a class="btn btn-primary btn-sm col-1" href="{% url "project_list_view"%}">Нет</a>
            </div>
        </div>
    </div>
{% endblock %}